* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
    --color-primary: #1e3a8a;
    --color-secondary: #fcd34d;
    --color-dark: #0f172a;
    --color-text: #e2e8f0;
    --color-light: #ffffff;
    --color-background-gray: #f8f8f8;
    --color-dark-text: #1f2937;
    --color-medium-gray: #4b5563;
    --shadow-subtle: 0 4px 12px rgba(0, 0, 0, 0.05);
    --shadow-lift: 0 10px 25px rgba(0, 0, 0, 0.1);
    --color-danger: red;
    --color-error: #ef4444; /* Rojo */
    --color-success: #10b981; /* Verde */
}