* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden; /* evita que algo se salga */
  font-family: system-ui, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 80px; /* por navbar fixed */
}
